<h3>Que voulez vous manger ?</h3>
<ul>
    <li>
      <button (click)="displayTacosFormulas()">
        <img src="assets/tacos.png" alt="tacos">
      </button>
      <span>Tacos</span>
    </li>
    <li>
      <button (click)="displayBurgersFormulas()">
        <img src="assets/burger.png" alt="tacos">
      </button>
        <span>Burger</span>
    </li>
    <li>
        <img src="assets/pates.png" alt="pates">
        <span>Pates</span>
    </li>
    <li>
        <img src="assets/menu.png" alt="menu">
        <span>Menu</span>
    </li>
</ul>
<ul>
  <li *ngFor="let formula of selectedFormulas">{{formula.getName()}}</li>
</ul>